<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="finalshop.prdComment.wordCount">
	<select id="list" resultType="wordCount">
		select * from TB_PRD_WORDCOUNT order by to_number(count) desc
	</select>
</mapper>